{% extends 'base.html' %}
 
{% block body %}
<h1>Регистрация пользователя</h1>
<form method="post">
    {% csrf_token %}
    {% if form.error_dict %}
      <p class="error">Пожалуйста исправьте нижеприведённые ошибки.</p>
    {% endif %}

    {% if form.username.errors %}
      {{ form.username.html_error_list }}
    {% endif %}
    <div class="form-group">
    <label for="id_username">Логин:</label> {{ form.username }}
    </div>
    {% if form.password1.errors %}
      {{ form.password1.html_error_list }}
    {% endif %}
    <div class="form-group">
    <label for="id_password1">Пароль:</label> {{ form.password1 }}
    </div>
    {% if form.password2.errors %}
      {{ form.password2.html_error_list }}
    {% endif %}
    <div class="form-group">
    <label for="id_password2">Пароль(снова):</label> {{ form.password2 }}
    </div>
    <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p>
    <input class="btn btn-primary" type="submit" value="Зарегистрировать" />
</form>
{% endblock body %}