{% extends 'base.html' %}

{% block extrahead %}
    {% load static %}
    <script src="{% static '/js/mediaelement-and-player.js' %}"></script>
    <link rel="stylesheet" href="{% static '/css/mediaelementplayer.min.css' %}" />
    <style>
        .mejs__overlay-button {
	        background-image: url("{% static 'img/mejs-controls.svg'%}");
        }               
        .mejs__overlay-loading-bg-img {
	        background-image: url("{% static 'img/mejs-controls.svg'%}");
        }
        .mejs__button > button {
	        background-image: url("{% static 'img/mejs-controls.svg'%}");
        }
</style>
{% endblock %} 

{% block body %}
    <video style="border: 0; width: 100%; height: 100%;" src="{{ v.video }}">
    <script>
        $(document).ready(function() {
            $('video').mediaelementplayer({
                alwaysShowControls: true,
                videoVolume: 'horizontal',
                features: ['playpause', 'progress', 'volume', 'fullscreen']
            }) 
        });
    </script>
{% endblock %}