{% extends 'base.html' %}
{% block body %}
<div class="container">
    <h2 style="font-family: 'Pangolin', sans-serif;">Что такое OK Online Cinema 33?</h1>
    <p style="font-family: 'Oswald', sans-serif; color:#FFF;">Это инновационный интернет-кинотеатр, 
    позволяющий в разы ускорить подготовку к просмотру. Каким образом? 
    Теперь Вы можите выбрать фильм на одном устройстве и сразу же приступить к просмотру 
    на другом.</p>
    <h2 style="font-family: 'Pangolin', sans-serif;">Как этим пользоваться?</h2>
    <p style="font-family: 'Oswald', sans-serif; color:#FFF;">Вам нужно перейти в раздел фильмы, 
    выбрать тот, который хотите посмотреть, нажать на него. 
    Вы попадёте на страницу, на которой вам будут доступнен просмотр в браузере и просмотр на Android-устройстве. 
    Для второго будет необходимо установить на ваш девайс приложение, которое Вы можите скачать по ссылке: 'здесь будет ссылка' </p>
    <a class="btn btn-default" href="{% url 'home:home' %}">Начать</a>
</div>
{% endblock body %}